@import url(../typefaces/typefaces.css);

:root {
    --font-main: Gilroy, sans-serif;
    --font-secondary: Secondary Font, serif;
    --hover-color: aqua;
}

* {
    font-family: var(--font-main);
}

body {
    background-color: #505050;
    margin: 0;
    padding: 0;
}

/******* portfolio *******/

/* navbar */
.logo {
    transition-duration: 0.5s;
}
.logo:hover {
    transform: scale(1.5);
    filter: drop-shadow(0px 0px 10px var(--hover-color));
}

.navbar-text {
    transition-duration: 0.5s;
}

.navbar-text:hover {
    filter: drop-shadow(0px 0px 20px var(--hover-color));
    color: var(--hover-color) !important;
}

/* Network Containers */

.network-container {
    display: grid;
    grid-template-areas:
        "social-media network email-to";
    grid-template-columns: 70px 1fr 70px;
    grid-template-rows: 1fr;
    height: 100vh;
}

.social-media {
    grid-area: social-media;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.network {
    grid-area: network;
}

.email-to {
    grid-area: email-to;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Network Sides */
.v-line {
    border: solid #ececea;
    border-width: 0 1px;
    background-color: #ececea;
    height: 100px;
    width: 1px;
    margin: 0% 50% ;
    background: #ececea;
}
.email-to ul{
    position: fixed;
    margin: 0;
    padding: 0px;
    bottom: 0px;
    left: auto;
    right: 20px;
    z-index: 10;
}
.email-to ul li{
    list-style-type: none;
    transition-duration: 0.5s;
}
.email-to ul li:hover{
    transform: translateY(-5px);
}
.email-to ul li a{
    color: #ececea;
    text-decoration: none;
    writing-mode: vertical-rl;
    letter-spacing: 0.1em;
    transition-duration: 0.5s;
}
.email-to ul li a:hover{
    color: var(--hover-color);
}

.social-media ul {
    position: fixed;
    margin: 0;
    padding: 0px;
    bottom: 0px;
    left: 20px;
    right: auto;
    z-index: 10;
}

.social-media ul li {
    list-style: none;
    transition-duration: 0.5s;
}

.social-media ul li:hover {
    transform: translateX(10px);
}

.social-media ul li a {
    color: #ececea;
    text-decoration: none;
    transition-duration: 0.5s;
}

.social-media ul li a:hover {
    color: var(--hover-color);
}

/* Network Graph */
.vis-button {
    transition-duration: 0.5s;
    filter: grayscale();
}

.vis-button:hover {
    filter: hue-rotate(70deg);
}

#mynetwork {
    height: 100vh;
}







@media screen and (max-width:768px) {

    .network-container {
        display: grid;
        grid-template-areas:
            "network";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .email-to ul{
        display: none;
    }
    
    .social-media ul {
        display: none;
    }
    
}