/*
	Guide:
	1000 - Heavy
    900 - Black
    800 - Extra Bold
    700 - Bold
    600 - Semi Bold
    500 - Medium
    400 - Regular
    300 - Light
    200 - Ultra Light
    100 - Thin
*/

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy/Gilroy-Heavy.ttf);
    font-style: normal;
    font-weight: 1000;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy/Gilroy-Black.ttf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy/Gilroy-ExtraBold.ttf);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy/Gilroy-ExtraBold.ttf);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy/Gilroy-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy/Gilroy-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy/Gilroy-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy/Gilroy-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy/Gilroy-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy/Gilroy-UltraLight.ttf);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy/Gilroy-Thin.ttf);
    font-style: normal;
    font-weight: 100;
}
